<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{2} %x - %m%n" />
		</layout>
	</appender>
    <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step1" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
        <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step2" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
        <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step3" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
        <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step4" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
        <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step5" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
        <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step6" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
        <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step7" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
        <logger name="bg.bas.iit.weboptim.solver.fiem.steps.Step8" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>